<div>
  <table class="min-w-full table-auto">
    <thead class="justify-between">
    <tr class="bg-gray-800">
      <th class="px-16 py-2">
        <span class="text-gray-300"></span>
      </th>
      <th class="px-16 py-2">
        <span class="text-gray-300">Id</span>
      </th>
      <th class="px-16 py-2">
        <span class="text-gray-300">Name</span>
      </th>
    </tr>
    </thead>
    <tbody class="bg-gray-200">
    <tr class="bg-white border-4 border-gray-200">
      <div *ngFor="let user of users">
        <td class="px-16 py-2 flex flex-row items-center">
          <span class="text-center ml-2 font-semibold">{{user.Id}}</span>
        </td>
        <td class="px-16 py-2 flex flex-row items-center">
          <span class="text-center ml-2 font-semibold">{{user.userName}}</span>
        </td>
      </div>
    </tr>
    </tbody>
  </table>
</div>
